/* MAIN */
#bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(#0f001f, #001f1f);
	z-index: -1
}

body {
	color: #efdfff;
}

* {
	margin: 0;
	padding: 0;

	font-family: Arial;
	font-size: 16px;
	text-align: left;
}

div, b {
	color: #5f3fff;
}

i {
	margin-left: 12px;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.25);
}

.add {
	color: lime
}
.sub {
	color: maroon
}
.upd {
	color: gold
}
.bal {
	color: skyblue
}
.fix {
	color: red
}
.beta {
	color: #ffdfdf
}

li.important {
	font-weight: bold;
	font-size: 24px;
	color: #ff3f00;
	background: -webkit-linear-gradient(#ff0000, #ff7f00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
b.important {
	font-weight: bold;
	font-size: 30px;
	background: -webkit-linear-gradient(#7f00ff, #bf00ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.unimportant {
	color: rgba(255, 255, 255, 0.25)
}